<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="fragment-cdn">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e4db7f97b390ee206dfa327ffd77a4f9&libraries=services"></script>
        <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    </th:block>
</head>
<body>
<th:block th:fragment="fragment-login">
    <div class="modal fade" id="login" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">LOGIN</div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="user" placeholder="User ID" style="width: 75%;"><br>
                    <input type="password" class="form-control" id="password" placeholder="User PassWord" style="width: 75%;">
                    <button class="btn btn-primary" id="loginBtn" style="position: absolute; top:12%; height:75%; right:10px;">로그인</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>