<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>List - Map</title>
    <th:block th:replace="fragment/cdn :: fragment-cdn"></th:block>
</head>
<body>
<div>
    <div id="content">
        <div id="serarchForm" style="position: absolute; z-index: 5; width: 100%; padding: 1%;">
            <form method="get" action="/Luxmatic2_HC/mapList">
                <select id="category" class="form-control" name="category" style="display: inline; width: 120px;">
                    <option value="all">전체</option>
                    <option value="dong">면,읍</option>
                    <option value="dongSub">리</option>
                    <option value="poleNum">폴번호</option>
                </select>
                <select id="dongInfo" name="getKey" class="form-control" style="width: 120px; display: none;">
                    <option th:each="dongInfo,count : ${dongInfo}" th:value="${count.count}" th:text="${dongInfo}"/>
                </select>
                <select id="dongSubInfo" name="getKey" class="form-control" style="width: 120px; display: none;">
                    <option th:each="subInfo,count : ${dongSubInfo}" th:value="${count.count}" th:text="${subInfo}"/>
                </select>
                <input id="textInput" name="getKey" type="text" class="form-control" placeholder="검색" style="width: 120px; display: none;">
                <button id="searchBtn" class="btn btn-sm btn-primary" onclick="submit()">검색</button>
            </form>
        </div>
        <div id="map" style="width:100%; height: 520px;"></div>
        <button id="tableList" class="btn btn-success" onclick="location.href='/Luxmatic2_HC/tableList'" style="position: absolute; z-index: 3; right: 1%; bottom: 1%; margin:1%;">표로 보기</button>
        <div class="container" style="border: 2px dashed; margin-top:3px; height: 18%; position: absolute;">
            <div style="padding-top: 8%; padding-left:4%;">마커를 클릭하면 해당 보안등의 상세페이지로 이동합니다.</div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    let category = /*[[ ${cri.category} ]]*/ "";
    let keyword = /*[[ ${cri.keyword} ]]*/ "";
    let lampList = /*[[ ${lampList} ]]*/ "";
    let markers = [];

    if(category != null || category != "") {
        switch (category) {
            case 'all':
                $('#category').val(category);
                $('#dongInfo').hide();
                $('#dongSubInfo').hide();
                $('#textInput').hide();
                break;
            case 'dong':
                $('#category').val(category);
                $('#dongInfo').show();
                $('#dongInfo').val(keyword);
                $('#dongInfo').css('display', 'inline');
                $('#dongSubInfo').hide();
                $('#textInput').hide();
                break;
            case 'dongSub':
                $('#category').val(category);
                $('#dongInfo').hide();
                $('#dongSubInfo').show();
                $('#dongSubInfo').val(keyword);
                $('#dongSubInfo').css('display', 'inline');
                $('#textInput').hide();
                break;
            case 'poleNum':
                $('#category').val(category);
                $('#dongInfo').hide();
                $('#dongSubInfo').hide();
                $('#textInput').show();
                $('#textInput').val(keyword);
                $('#textInput').css('display', 'inline');
                break;
        }
    }

    $(function (){

        /* css 영역 */
        $('#category').on('change', () => {
            let category = $('#category option:selected').val();
            switch (category) {
                case 'all':
                    $('#dongInfo').hide();
                    $('#dongSubInfo').hide();
                    $('#textInput').hide();
                    break;
                case 'dong':
                    $('#dongInfo').show();
                    $('#dongInfo').css('display', 'inline');
                    $('#dongSubInfo').hide();
                    $('#textInput').hide();
                    break;
                case 'dongSub':
                    $('#dongInfo').hide();
                    $('#dongSubInfo').show();
                    $('#dongSubInfo').css('display', 'inline');
                    $('#textInput').hide();
                    break;
                case 'poleNum':
                    $('#dongInfo').hide();
                    $('#dongSubInfo').hide();
                    $('#textInput').show();
                    $('#textInput').css('display', 'inline');
                    break;
            }
        });

        let mapContainer = document.getElementById('map'),
            mapOption = {
                center : new kakao.maps.LatLng(37.39794843, 126.96897058),
                level : 3
            };

        let map = new kakao.maps.Map(mapContainer, mapOption);
        let markerImage = new kakao.maps.MarkerImage('/images/lamp.png', new kakao.maps.Size(20, 20));

        for(let i=0; i < lampList.length; i++) {
            markers.push(new kakao.maps.Marker({
                map: map,
                image: markerImage,
                position: new kakao.maps.LatLng(lampList[i].latitude, lampList[i].longitude)
            }));
            markerEvent(i);
        }

        map.setCenter(markers[markers.length - 1].getPosition());

    });

    function markerEvent(index) {
        let pole_num = lampList[index].telegraph_pole_num;
        kakao.maps.event.addListener(markers[index], 'click', function () {
            //detail page 이동 코드 추가
            location.href = "/Luxmatic2_HC/detailLamp/" + pole_num;
        });
    }
</script>
</body>
</html>